{% extends 'base.html.twig' %}

{% block title %}
  Page introuvable - Thrift Shop Vintage
{% endblock %}

{% block body %}
  <div class="container">
    <h1>
      Oups ! La page que vous recherchez n'existe pas !
    </h1>
    <p>
      L'information recherché est inconnue ! Nous vous invitons à revenir sur la
      page d'acceuil ou à la page de nos annonces !
    </p>

    <a href="{{ path('home') }}" class="btn btn-primary">Retour à l'acceuil</a>

    


  </div>
{% endblock %}
